<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675828623869-ndigdamjjfugmb76icc883ue9om41aqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675828623869-ndigdamjjfugmb76icc883ue9om41aqc</string>
	<key>API_KEY</key>
	<string>AIzaSyCee6WuJIrm6Cf7Vw5DJGagzPkSEjIJyBM</string>
	<key>GCM_SENDER_ID</key>
	<string>675828623869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.jeonghyun.todayWeather</string>
	<key>PROJECT_ID</key>
	<string>jeonghyun-today-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>jeonghyun-today-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675828623869:ios:91a9c536fc4495cc609194</string>
</dict>
</plist>